html, body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	font-family:'Roboto', sans-serif;
    font-size:1.25em;
    font-weight:300;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 2.2fr;
  grid-template-rows: 0.6fr 2.4fr 0.1fr;
  grid-template-areas: "left-column body" "left-column body" "left-column body";
  height: 100%;
  width: 100%;
}

.left-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 2.4fr 0.1fr;
  grid-template-areas: "portrait" "nav" "footer";
  grid-area: left-column;
  padding-left: 15vw;
  background-color: #444444;
  color: #999999;
}

.portrait { 
	grid-area: portrait;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	padding-right: 5vh;
}
.portrait-picture {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius:50%
}

.nav {
	grid-area: nav;
	text-transform: lowercase;
}
#nav a:link {
	color: #999999;
}
#nav a:visited {
	color: #999999;
}
#nav a:hover {
	color: #999999;
}
#nav a:active {
	color: #999999;
}
.nav-item {
	cursor:pointer;
	padding-left:2.5vw;
	padding-top:0.5vh;
	padding-bottom:0.5vh;
	padding-right:5vw;
}
#nav6 {
	padding-left: 2.5vw;
	padding-top: 1vh;
	padding-bottom:2.5vh;
}
.nav-button {
	position: relative;
	height: 25px;
	width: 25px;
	padding-right:0.25vw;
	display: inline-block;
}
.nav-button-image {
	height: 25px;
	width: 25px;
}
.nav-button .hover {
	position: absolute;
	top: 0;
    left: 0;
	height:100%;
	width:100%;
	display: none;
}
.nav-button:hover .hover {
    display: inline;
}

.footer {
	grid-area: footer;
	padding-left:2.5vw;
	font-size:.65em;
}

.body {
  grid-area: body;
  overflow: auto;
  padding-right: 15vw;
  padding-top: 5vh;
  padding-left: 2.5vw;
}

.header {
	height:200px;
	background-color: #FFFFFF;
	color: #444444;
	text-transform: lowercase;
}

.content {
	background-color: #FFFFFF;
	color: #444444;
	text-align: justify;
}
.content-container {
	margin-bottom:2.5vh;
}
#content-warning {
	display:block;
}
#content1 {
	display:none;
}
#content2 {
	display:none;
	height:1150px;
}
#content3 {
	display:none;
}
#content4 {
	display:none;
}
#content5 {
	display:none;
}
.design-thumb {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius:50%;
	border:2px solid #444444;
}
.photo-thumb {
	border:2px solid #444444;
	height:150px;
	width:150px;
	margin-right:.5vw;
	margin-bottom:.5vh;
	margin-buttom:.5vh;
	object-fit:cover;
}

h1 {
	color:#7bae47;
	font-size:4.5em;
	line-height:1em;
	margin-top:0;
	margin-bottom:0;
	display:inline;
}
h2 {
	color:#444444;
	font-weight:300;
	font-size:1.5em;
	display:inline;
}
h3 {
	color:#444444;
	font-weight:700;
	font-size:1em;
	margin:0;
	font-
}
a:link {
	color:#7bae47;
	text-decoration: none;
}
a:visited {
	color:#7bae47;
	text-decoration: none;
}
a:hover {
	color:#444444;
	text-decoration: none;
}
a:active {
	color:#7bae47;
	text-decoration: none;
}

@media all and (max-width:1280px) {
	.left-column {
		padding-left: 1vw;
	}
	.body {
		padding-right: 2.5vw;
	}
}
@media all and (max-width:1080px) {
	html, body {
		font-size:1em;
	}
	.portrait { 
		padding-top: 5vh;
		padding-left: 2.5vw;
	}
	.portrait-picture { 
		width: 98px;
		height: 98px;
		padding-top: 
	}
	.nav-button {
		height: 20px;
		width: 20px;
	}
	.nav-button-image {
		height: 20px;
		width: 20px;
	}
	.header {
		height:117px;
	}
}