html, body {
	font-family:'Roboto', sans-serif;
	background-color:#FFFFFF;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#header {
	min-width:1000px;
	clear:both;
}
#header-left {
	background-color:#444444;
	width:30%;
	height:25%;
	min-height:200px;
	float:left;
	position:relative;
}
#header-left-container {
	margin-left:50%;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
}
#header-right {
	background-color:#FFFFFF;
	width:70%;
	min-width:700px;
	height:25%;
	min-height:200px;
	float:right;
	position: relative;
}
#header-right-container {
	padding-left:3%;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
}
#middle {
	min-width:1000px;
	clear:both;
}
#nav{
	background-color:#444444;
	color:#999999;
	font-size:1.5em;
	font-weight:300;
	width:30%;
	height:70%;
	min-height:400px;
	float:left;
}
#nav a:link {
	color: #999999;
}
#nav a:visited {
	color: #999999;
}
#nav a:hover {
	color: #999999;
}
#nav a:active {
	color: #999999;
}
.nav-item {
	background-color:#444444;
	margin-left:50%;
	padding-left:7.5%;
	cursor:pointer;
	padding-top:5px;
	padding-bottom:5px;
	text-transform: lowercase;
}
#content {
	background-color:#FFFFFF;
	width:70%;
	min-width:700px;
	height:70%;
	min-height:400px;
	float:right;
	overflow-y: auto;
	overflow-x: hidden;
}
.content-container {
	color: #444444;
	font-size: 1.5em;
	font-weight: 300;
	text-align:justify;
	padding-left:3%;
	padding-right:22%;
}
#content-warning {
	display:block;
}
#content1 {
	display:none;
}
#content2 {
	display:none;
}
#content3 {
	display:none;
}
#content4 {
	display:none;
}
#content5 {
	display:none;
}
#footer {
	min-width:1000px;
	clear:both;
}
#footer-left {
	background-color:#444444;
	width:30%;
	height:5%;
	min-height:25px;
	float:left;
}
#footer-left-container {
	color:#999999;
	margin-left:50%;
	padding-left:7.5%;
}
#footer-right {
	background-color:#FFFFFF;
	width:40%;
	min-width:400px;
	height:5%;
	min-height:25px;
	float:right;
	padding-right:30%;
	position:relative;
}
#footer-right-container {
	color:#444444;
	font-size:1em;
	padding-left:3%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.portrait {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius:50%	
}
.thumbnail {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius:50%;
	border:2px solid #444444;
}

h1 {
	color:#7bae47;
	font-size:7em;
	line-height:1em;
	margin-bottom:0;
	display:inline;
	text-transform: lowercase;
}
h2 {
	color:#444444;
	font-weight:300;
	font-size:1.5em;
	display:inline;
	text-transform: lowercase;
}
h3 {
	color:#444444;
	font-weight:700;
	font-size:1em;
	margin:0;
	font-
}
a:link {
	color:#7bae47;
	text-decoration: none;
}
a:visited {
	color:#7bae47;
	text-decoration: none;
}
a:hover {
	color:#444444;
	text-decoration: none;
}
a:active {
	color:#7bae47;
	text-decoration: none;
}

@media all and (max-width:1280px) {
	#header {
		min-width:750px;
	}
	#header-left {
		width:200px;
	}
	#header-right {
		float:left;
		min-width:0px;
	}
	#middle {
		min-width:750px;
	}
	#content {
		float:left;
		min-width:0px;
	}
	.content-container {
		padding-right:3%;
	}
	#footer {
		min-width:250px;
	}
	#footer-right {
		float:left;
		min-width:0px;
	}
	#nav{
		width:200px;
	}
	#footer-left {
		width:200px;
	}
	#header-left-container {
		margin-left:0%;
	}
	#header-left-container img{
		width: auto;
	}
	.nav-item {
		margin-left:0%;
	}
}
@media all and (max-width:1080px) {
	#header-left{
		min-height:100px;
		width:125px;	
	}
	#header-right{
		min-height:100px;	
	}
	#nav{
		width:125px;
		font-size:1em;
	}
	.nav-item {
		padding-top:5%;
		padding-bottom:5%;
	}
	.content-container {
		font-size:1em;
	}
	#footer-left{
		width:125px;	
	}
	h1 {
		font-size:4em;
	}
	h2 {
		font-size:1em;
	}
	h3 {
		font-size:1em;
	}
	.portrait {
		height:100px;
		width:100px;
		padding-left:10%;
	}
}